  <table class="front">
    <tr>
      <td class="main">
        <h2 class="micropost">Edit/Moderate micropost</h2>
        <%= render 'micropost_form' %>
      </td>
    </tr>
  </table>

<%= link_to 'Back', admin_microposts_path %>
