<h1>Admin</h1>
<ul>
<li><%= link_to "Moderate microposts", "admin/microposts" %></li>
<li><%= link_to "Change user 'player status' or 'privelages'", "admin/users" %></li>
<li><%= link_to "End the season", "/#" %></li>
</ul>

